
header{
    background: black;
    padding: 0;
    border-bottom: 1px solid #3374ff;
    position: sticky;
    height: 100px;
}
.busqueda{
    position: absolute; 
    margin: 1em;
    left: 33%;
    width: 30%;
    top: 25%;
    height: 30%;
    border: 3px solid white;
    border-radius: 15px;

}


a{
    color:white;
}

a:hover{
    background: #3374ff;
    color: white;
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
}

a.logo{
    font-weight: bold;
    padding: 2em;
    padding-top: 20px;
}

nav ul{
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    padding: 1em;
    display: inline-block;
}
.szs{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    
}
