<header>
    <div class="container">
        <a href="#" routeLink="/" class="logo">
            SolveIT
        </a>
        <input class="busqueda" type="text" placeholder="busqueda">
        <nav>
            <ul class="szs">
                <li>
                    <a href="#" routeLink="/profile-page">Profile</a>

                </li>
                <li>
                    <a routerLink="/publication/create" routerLinkActive="active">crear publicacion</a>
                </li>
                <li>
                    <a routerLink="/regitro" routerLinkActive="active">registrar</a>
                </li>
            </ul>
        </nav>
    </div>
</header>